.bundle
vendor
vendor/**

.direnv
.direnv/**
result

.env

config/global.yml
**/yt-client-secret.json
**/yt-credentials.yml

var/**
!var/.gitkeep

.idea

**/tags

.git

/.gem_rbs_collection/**

# Database files
db/*.sqlite3
db/*.sqlite3-*
