/.bundle
/vendor
/vendor/**

.env

tags
**/tags

/db/database.sqlite3
/var/

/config/global.yml
/config/yt-client-secret.json
/config/yt-credentials.yml
/yt-client-secret.json
/yt-credentials.yml

/.direnv
/.direnv/**

/result

.idea
