# bot credentials
token: placeholder
client_id: 1234

# user ID of the owner, for .eval
owner: 165998239273844736

# credentials for the Arch wiki
wiki_username: username
wiki_password: password

database:
  # by default, sqlite3
  type: sqlite3
  db: db/database.sqlite3

  # or you can use Oracle SQL:
  # type: oracle_enhanced
  # db: dbname
  # user: qbot
  # pass: password

# URL of the bot's git repo, used for .botrepo
my_repo: https://github.com/anna328p/qbot

# global configuration
global:
  # which modules to load into the bot
  # and enable on all servers?
  modules:
    - admin
    - arch
    - blacklist
    - colors
    - figlet
    - help
    - music
    - queries
    - roles
    - snippets
    - starboard
    - util
    - xkcd

  # default prefix
  prefix: '.'

  # global snippets, available on all servers
  snippets:
    - name: hello
      text: Hello, world!

  # default starboard settings for all servers
  starboard:
    emoji: "⭐"
    minimum_reacts: 5

# vim: ft=yaml:ts=2:sw=2:set expandtab
