token: placeholder
client_id: 1234

owner: 165998239273844736

wiki_username: username
wiki_password: password

my_repo: https://github.com/dkudriavtsev/qbot

global:
  modules:
    - help
    - util
    - admin
    - queries
    - colors
    - arch
    - snippets
    - figlet
  prefix: '.'
  snippets:
    - name: hello
      text: Hello, world!

servers:
  382367629752664085:
    prefix: '%'
    modules:
      - help
      - util
      - admin
  399812551963049995:
    log_channel: 573292276382695425
    roles:
      extra_colors:
        - id: 722392317272653864
        - id: 722392286482137129
    snippets:
      - name: arch
        text: i use arch btw

# vim: ft=yaml
