# bot credentials
token: placeholder
client_id: 1234

# user ID of the owner, for .eval
owner: 165998239273844736

arch:
  wiki:
    username: ilovecats
    password: meowmeow
  mirror: https://mirrors.edge.kernel.org/archlinux/
  repos:
    - core
    - extra
    - community
    - multilib

database:
  # by default, sqlite3
  type: sqlite3
  db: db/database.sqlite3

  # or you can use Oracle SQL:
  # type: oracle_enhanced
  # db: dbname
  # user: qbot
  # pass: password

# URL of the bot's git repo, used for .botrepo
my_repo: https://github.com/arch-community/qbot

# which modules to load into the bot
# and enable on all servers?
modules:
  - admin
  - arch
  - blacklist
  - colors
  - figlet
  - help
  - queries
  - snippets
  - quotes
  - util
  - xkcd

default_prefix: '.'

# vim: ft=yaml
